<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<p v-for="animal in animals">动物类型:{{animal.name}}---动物年龄:{{animal.age}}</p>
			<hr >
			<p v-for="(animal,i) in animals">动物类型:{{animal.name}}---动物年龄:{{animal.age}}--->索引{{i}}</p>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					animals: [
						{
							name: '中华田园犬',
							age: 5
						},
						{
							name: '熊猫',
							age: 3
						},
						{
							name: '东北虎',
							age: 4
						}
					]
				},
			})
		</script>
	</body>
</html>
